@import "vars";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
::selection {
  background-color: #429aaf;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1937;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e1937;
}

body {
  font-family: 'Amiri', serif;
  background: $backgroundColor;

  overflow-x: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
  display: flex;

}
li {
  text-decoration: none;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}


.marker {
  background-image: url('../img/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}


.mapboxgl-popup {
  max-width: 25rem;
  padding: 5px;
  p {
    font-size: 16px;
    text-transform: lowercase;
    padding: 3px;
    color: #666;
    width: 100%;
    text-align: left;
    border-left: 3px solid $navColor;
    padding: 5px 5px 10px;
        margin: 4px 0;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  width: 17rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}

input {
  text-transform: lowercase;
  font-size: 17px;
}

button:focus {
  outline: none;
}

.soon {
  height: 33vh;
  text-align: center;
  padding: 90px 0 0;
  h1 {
    padding-bottom: 40px;
  }
}
