$backgroundColor: #f5f5f5;
$sectionHeading: #f5f5f5;
$mainColor:#666;
$navColor: #4fabc1;
$blue:#000b76;
$violet:#5000CA;
$yellow: #ffd700;
$maxMop: "(max-width: 767px)";
$maxSmall: "(max-width: 992px)";
$minSmall: "(min-width: 767px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
