extends base
block content
  section.profile--sec
    .profile--div
      .nav__profile
        ul
          li.data
            a(href='?q=data')
              span البيانات
              i.fas.fa-calendar-week
          li.pass
            a(href='?q=pass')
              span كلمه السر
              i.fas.fa-lock
          - if (user.role === 'admin')

            li.add_product
              a(href='?q=add_product')
                span   انشئ منتج
                i.fab.fa-product-hunt
            li.remove_product
              a(href='?q=remove_product')
                span   احذف منتج
                i.fas.fa-minus-circle
            li.add_promoter
              a(href='?q=add_promoter')
                span  اضف موزع
                i.fas.fa-map-marker
            li.remove_promoter
              a(href='?q=remove_promoter')
                span   احذف موزع
                i.fas.fa-minus-circle

      .profile__settings--div
        form(class='form-user-data form profile__form' action='index.html' method='post')
          .username
            input#update_email(type='email' name='email' value=`${user.email}`)
          div
            input#update_name(type='text' name='name' value=`${user.name}`)
          div
            input#update_phone(type='text' name='phone' value=`${user.phoneNumber}`)
          div
            label.label(for='update_photo') تحديث صورتك
            input#update_photo(type='file' name='password' value='')
          .buttons.login--div
            button.btn__login(type='button' name='button')  تحديث البيانات
      .profile__passowrd--div
        form(class='form-user-password profile__form form' action='index.html' method='post')
          .username
            input(id='password-current' type='password' name='current-password' value='' placeholder='كلمه السر الحاليه ')
          .username
            input(id='password' type='password' name='new-password' value='' placeholder='كلمه السر الجديده')
          .username
            input(id='password-confirm' type='password' name='confirm-password' value='' placeholder='اعد كتابه كلمه السر')
          .buttons.login--div
            button.btn__login(type='button' name='button')
              | تحديث كلمه السر
      - if (user.role === 'admin')

        .profile__products--div
          form(action='index.html' method='post' class='form--product form profile__form')
            div
              input#name(type='text' name='name' value='' placeholder='اسم المنتج')
            div
              input#price(type='number' name='price' value='' placeholder='سعر المنتج')
            div
              textarea#description(type='text' name='description' value='' placeholder='وصف المنتج')
            .label--div
              label.label(for='photo') اختر صوره للمنتج4
              input#photo(type='file' name='password' value='')
            .buttons.login--div
              button.btn__login(type='button' name='button')
                | انشئ منتج
        .delete__product--div
          form(class='profile__form form delete__product--form' action='index.html' method='post')
            div
              input#id(type='text' neme='id' value='' placeholder='اكتب الاي دي ')
            .login--div
              button.btn__login(type='submit' name='button')
                | احذف المنتج
        .profile__promoters--div
          form(class='profile__form form form--promoter' action='index.html' method='post')
            div
              input#name(type='text' name='name' value='' placeholder='اسم الموزع')
            div
              input#email(type='email' name='email' value='' placeholder='البريد الالكتروني للموزع')
            div
              input#phone(type='text' name='phone' value='' placeholder='رقم التليفون')
            #location
              .points
                input#lat(type='text' name='lat' value='' placeholder='خط العرض')
                input#lng(type='text' name='lng' value='' placeholder='خط الطول')
              .adress
                input#adress(type='text' name='adress' value='' placeholder='العنوان')
            .label--div
              label.label(for='photo') اختر صوره للمنتج
              input#photo(type='file' name='password' value='')
            .buttons.login--div
              button.btn__login(type='button' name='button')
                | اضف موزع
        .delete__promoter--div
          form(class='profile__form form delete__promoter--form' action='index.html' method='post')
            div
              input.email__promoter(required type='text' neme='email' value='' placeholder='اكتب الاميل الخاص بالموزع')
            .login--div
              button.btn__login(type='submit' name='button')
                | احذف موزع
      .image__profile
        img(src='img/dashboard.jpg' alt='')
