//
  *********************** Start nav ********************************
nav.nav__bar
  .logo--div
    img(src='img/logo.jpg', alt='')
  ul.nav--ul
    li
      a(href='#') الرئيسيه
    li
      a(href='#about') معلومات عنا
    li
      a(href='#products') المنتاجات
    li
      a(href='#') اسئله متكرره
    li
      a(href='#contact') تواصل معنا
  .nav__buttons--div
    //
      <a class="login__btn__nav" href="#">دخول</a>
      <a class="signup__btn__nav" href="#">تسجيل</a>
    a.signout__btn__nav(href='#') خروج
    a.user__btn__nav(href='user.html?q=data')
      span Ahmed |
      img(src='img/users/default.jpg', alt='')
