extends base
block content

  section.auth
    .auth--div
      form(class='forget--form')
        h3.h3 ادخل الي حسابك
        .username
          span البريد الالكتروني
          input(id='email__forget' type='email', name='email', value='', placeholder='اكتب بريدك الالكتروني')
        .buttons
          button.btn__form(id='' type='submit', name='button')
            | ارسل رساله لبريدك
