extends base
block content

  section.auth
    .auth--div
      form(class='reset--form')
        h3.h3 افحص بريدك الالكتروني
        .username
          input(id='new_token' type='text', name='text', value='', placeholder='اكتب التوكين')
          input(id='new_password' type='password', name='text', value='', placeholder='اكتب كلمه السر ')
          input(id='confirm_password' type='password', name='text', value='', placeholder='اعد كتابه كلمه السر')
        .buttons
          button.btn__form(id='' type='submit', name='button')
            | دخــــــــــــــــول
